#first-paragraph {
  color: lightcoral;
  background-color: lightblue;
}
h1 {
  color: green;
}
.standard-paragraph {
  color: rebeccapurple;
  background-color: aqua;
}
#experiment {
  color: blue;
}
