.btn-become-pirate {
    background-color: black;
    color: white;
    border: none;
    border-radius: 14px;
    padding: 8px;
    &:hover {
        background-color: red;
    }
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: flex-start;
    align-items: flex-start;
}
/* br {
    display: none;
} */